In [1]:
sc.version

'3.1.3'

In [2]:
server_name = "jdbc:sqlserver://34.125.61.40"
database_name = "TestDB"
url = server_name + ";" + "databaseName=" + database_name + ";"

table_name = "Inventory"
username = "SA"
password = "Passw0rd123456" # Please specify password here

In [3]:
url

'jdbc:sqlserver://34.125.61.40;databaseName=TestDB;'

In [4]:
synthetic_df = spark.createDataFrame([{'name':'Aekanun','gender':'M','income':1333.4}\
                                      ,{'name':'Ornanong','gender':'F','income':3334.3}])

In [6]:
synthetic_df.show()

+------+------+--------+
|gender|income|    name|
+------+------+--------+
|     M|1333.4| Aekanun|
|     F|3334.3|Ornanong|
+------+------+--------+

In [17]:
synthetic_df.write.mode('overwrite').format("jdbc")\
        .option("url", url) \
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password)\
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").save()

In [18]:
jdbcDF = spark.read.format("jdbc")\
        .option("url", url) \
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password)\
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver")

In [19]:
raw_df = jdbcDF.load()

In [20]:
raw_df.show()

+------+------+--------+
|gender|income|    name|
+------+------+--------+
|     M|1333.4| Aekanun|
|     F|3334.3|Ornanong|
+------+------+--------+